<p>Bonjour {{ user.username }},</p>

<p>Pour réinitialiser votre mot de passe, cliquez sur ce lien :</p>

<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>

<p>Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>

<p>Si vous n’êtes pas à l’origine de cette demande, ignorez cet email.</p>
