{% extends 'admin/admin.html.twig' %}
{% block title %}
    Validation des annonces auditeur
{% endblock %}
{% block body %}
<style>
    .bodyadmincannonce {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        }
    .top img{
        width: 100%;
    }
</style>
<div class="bodyadmincannonce">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>

            
</div>
{% endblock %}