{% extends 'admin/admin.html.twig' %}

{% block title %}New Diffusion{% endblock %}

{% block body %}
    <h1>Create new Diffusion</h1>

    {{ include('admin/diffusion/_form.html.twig') }}

    <a href="{{ path('admin.diffusion.index') }}">back to list</a>
{% endblock %}
