{% extends 'admin/admin.html.twig' %}

{% block title %}
    Toutes les émissions !
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>

        /* Bouton normal (desktop) */
.admin-emission-page .btn-create {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 8px;
  background: #E4013A;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
}

.imgbottom {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -1px;
}

/* Conteneur */
.admin-emission-page .create {
  text-align: left;
  margin-bottom: 20px;
  padding: 0 20px;

}

/* =========================
   RESPONSIVE
   ========================= */
@media (max-width: 768px) {
  .admin-emission-page .btn-create {
    display: block;
    width: 100%;
    max-width: 260px;   /* limite la largeur */
    margin: 0 auto;     /* centre */
    padding: 10px 12px; /* réduit */
    font-size: 14px;
    border-radius: 10px;
  }
}

    </style>
{% endblock %}
{% block body %}


    <div class="admin-emission-page">
        <p class="create">
            <a class="btn-create" href="{{ path('admin.emission.create') }}">
                Créer une nouvelle émission
            </a>
        </p>

        <h1>Liste des émissions</h1>

            <img class="imgbottom" src="/images/top-content-dechire-D.gif">

        {% include 'partials/_emission_results.html.twig' with {
            emissions: emissions,
            resultsTitle: 'Résultats :',
            noResultsText: 'Aucune émission trouvée.',
            showNoResults: true,
            useKnpPagination: true,
            useLivePagination: false,
            showRoute: 'admin.emission.show',
            isAdmin: true,
            showAdminActions: true,
            editRoute: 'admin.emission.edit',
            deleteRoute: 'admin.emission.delete'
        } only %}
    </div>
{% endblock %}