<h1>Confirmez votre nouvelle adresse email</h1>

<p>
  Cliquez sur ce lien pour confirmer votre nouvelle adresse :<br><br>
  <a href="{{ signedUrl|raw }}">Confirmer mon nouvel email</a><br><br>
  Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
