### Symfony
.env
.env.*
.env.local.php
/var/
/vendor/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php
*.pem
*.key
config/jwt/*.pem
docker/xdebug.ini
###< symfony/framework-bundle ###

### PHPUnit
/phpunit.xml
.phpunit.result.cache

### Asset Mapper
/public/assets/
/assets/vendor/

### Tests (optionnel si pas requis en prod)
tests/

### Docker/dev files (optionnel, surtout sur main)
dockerfile.dev
docker-compose.dev.yml
compose_old.yaml
test.log
READMEold.md
###< symfony/asset-mapper ###

sitezinzine/deploy_sitezinzine.ps1
sitezinzine/quick_deploy.ps1
