
{% extends 'admin/admin.html.twig' %}
require_once('../getid3/getid3.php');

{% block title %}Hello tagsController!{% endblock %}

{% block body %}


<style>

.bodytagsmp3 {
    background: linear-gradient(#E4013A, #B81C61);
    background-size: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
</style>
<div class="bodytagsmp3">



    <h1>Analyser un fichier MP3</h1>

    

</div>

{% endblock %}
