{% extends 'base.html.twig' %}

{% block title %}Aide à l'écoute Radio Zinzine{% endblock %}

{% block body %}
  <div class="editable">
    <div class="page-card">

      {% if page.mainImageName %}
        <div class="page-hero">
          <img src="{{ asset('uploads/pages/' ~ page.mainImageName) }}" alt="{{ page.title }}">
        </div>
      {% endif %}

      <h1 class="page-title">{{ page.title }}</h1>

      <div class="page-content">
        {{ page.content|raw }}
      </div>

    </div>
  </div>
{% endblock %}
