{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
hello home
<a class="btn btn-primary btn-sm" href="{{ path('admin.emission.index') }}">
                                    admin
                                </a>
  
{% endblock %}
