{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<iframe frameborder="0" width="280" height="216" src="http://192.168.0.143/embed/player?stream=auto&title=Now Playing"></iframe>
hello home
<iframe height="400px" width="550px" scrolling="no" frameborder="0" src="http://82.65.140.136:8143/embeddablewidgets/schedule"></iframe>
<a class="btn btn-primary btn-sm" href="{{ path('admin.emission.index') }}">
                                    admin
                                </a>
  
{% endblock %}
