{% extends 'base.html.twig' %}

{% block title %}
    Toutes les émissions !
{% endblock %}

{% block body %}
    <p>
        Lorem fugiat quis in officia culpa amet consectetur est in cupidatat. Excepteur magna excepteur Lorem tempor voluptate mollit.
        Aliqua adipisicing duis laboris adipisicing tempor elit non velit id. Non amet dolor nisi reprehenderit in dolore voluptate et
        mea culpa mollit eiusmod cillum. Sit sit tempor laborum deserunt ex in culpa non amet.
        Veniam sit et est aute amet consectetur occaecat elit dolore et nulla. Fugiat ut laborum mollit ullamco nisi.
    </p>
    <ul>
        <li>
            <a href="{{ path('emission.show', {id: 12, slug: 'schnagalaf'}) }}">
                Schnagalaf
            </a>
        </li>
    </ul>
{% endblock %}
