<style>
    .footer {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        background: #1C1C1A;
        background-size: 100%;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer div {
        margin: 20px;
    }
</style>

<div class='footer'>
<div>
Radio Zinzine Saint Hyppolyte F-04300 Limans
</div><div>
Contacts
</div><div>
Mentions légales
</div><div>
Sites amis
</div><div>
Aide à l'écoute
</div><div>
Zone d'écoute
</div><div>
<a class="btn btn-primary btn-sm" href="{{ path('admin.emission.index') }}">Admin
</a>
</div>
</div>