<style>
    .lecteur {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        background-color: black;
        background-size: 100%;
        color: white;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    audio {
        width: 500px;
    }
    .gauche {
        padding: 10px;
    }
    .direct {
        padding: 2px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }
  
    .milieu {

    }
    .droite {
       
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

</style>



<div class='lecteur'>
<div class="gauche">
<p class="direct">Le direct</p>

</div>
<div class="milieu">
{# <audio controls="controls" autoplay="autoplay" preload="auto">
  <source src="https://e52f-95-178-91-114.ngrok-free.app/3" type="" />
  Votre navigateur n'est pas compatible
</audio> #}
</div>
<div class="droite">
RADIO ZINZINE, UNE RADIO LIBRE !
</div>
</div>