<style>
    .lecteur {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        background-color: black;
        background-size: 100%;
        color: white;
        height: 60px;
    }
    audio {
        width: 500px;
    }
</style>



<div class='lecteur'>
Le direct
Le programme du moment
<audio controls="controls" autoplay="autoplay" preload="auto">
  <source src="https://91.121.65.189:8000/3" type="" />
  Votre navigateur n'est pas compatible
</audio>
RADIO ZINZINE, UNE RADIO LIBRE !

</div>