<style>
    .lecteur {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        background-color: black;
        background-size: 100%;
        color: white;
        height: 60px;
    }
</style>



<div class='lecteur'>
Le direct
Le programme du moment
(lecteur direct)
RADIO ZINZINE, UNE RADIO LIBRE !

</div>