<style>
    .vagues {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        background-image: url("{{ asset('/images/motif.jpg') }}");
        background-size: 100%;
        color: black;
        height: 280px;
    }
    .vagues img {
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>
<div class='vagues'>
    block vagues
    {# <div class="bottomvagues">
        <img src="{{ asset('/images/top-content-dechire-G.gif') }}"></div>
    </div> #}
</div>
